body {
   background-color: black;
   margin: 0px;
   color: white;
   font-family: "Open Sans", sans-serif;
}

/* NavBar */

nav {
   background-color: #282828;
   top: 0;
}

body > nav {
   overflow: hidden;
   position: sticky;
   top: 0;
}

nav ul{
   display: flex;
   position: relative;
   flex-direction: row;
   flex-wrap: wrap;
   min-height: 80px;
   width: 100%;
   justify-content: center;
   align-content: stretch;
   text-align: center;
   margin: 0px;
   column-gap: 20px;
   list-style: none;
}

nav ul li {
   font-size: 22px;
   align-self: center;
   color: white;
}

nav ul li:nth-child(n+2):nth-child(-n+8):hover {
   background-color: #7F0000;
}

nav ul li img {
   max-height: 90px;
}

nav ul li input{
   background-color:#282828;
   border: 0;
   margin: 0;
}

/* Facilities */

.facilites {
   display: grid;
   grid-template-columns: 1fr 2fr;
}


.facilities #text h2 {
   font-size: 50px;
}

.facilities #text p {
   font-size: 30px;
}

.facilities #text input {
   background-color: #FF0000;
   border-radius: 28px;
   font-size: 25px;
   border: 0;
}

.facilities img{
   max-width: 972.82px;
   max-height: 648.48px;
}

/* Trainers */

.trainers h2 {
   font-size: 50px;
}

.trainers p {
   font-size: 30px;
}

.trainers input {
   background-color: #FF0000;
   border-radius: 28px;
   font-size: 25px;
   border: 0;
}

.trainers img {
   width: 947.18px;
   height: 838.47px;
}

/* Gallery */

/* Map */

/* Footer */

footer {
   background: #282828;
   color: white;
   width: 100%;
}