{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/shop_style.css">
<script src="../static/js/login.js" defer></script>
<div class="login">
    <header>
        <h1>Επιβεβαίωση αγοράς</h1>
    </header>

    <div class="subscriptions">
        <h3>Είστε σίγουροι πως θέλετε να αγοράσετε το παρακάτω προϊόν</h3>

        <ul>
			{% for subscription in subscription_list %}
            <li>
                <div class="image-wrapper">
                    <img src="https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
				<div class="subscription-details" id={{subscription.id}}>
					<h3>{{ subscription.duration }}μηνιαία Συνδρομή</h3>
					<p>Αποκτήστε τώρα {{ subscription.duration }} συνδρομή στην προνομιακή τιμή των {{ subscription.cost }}€.</p>
				<form method="post">
					<button type="submit" name="subscription" value="{{ subscription.id }}">Αγορά</button>
				</form>
                </div>
            </li>
			{% endfor %}
        </ul>
		
		<form method="post">
    	    <button type="submit" name="confirm" value="yes">Yes</button>
    	    <button type="submit" name="confirm" value="no">No</button>
		</form>
    </div>

</div>
{% endblock %}
