{% extends "layout.html" %}

{% block content %}
<div class="contacts">
	<div class="schedule">
		<h2>Ωράριο λειτουργίας</h2>
		<table>
			<tr><td>ΔΕΥΤΕΡΑ</td>   <td>-</td> <td>07:00-23:30</td></tr>
			<tr><td>ΤΡΙΤΗ</td>     <td>-</td> <td>07:00-23:30</td></tr>
			<tr><td>ΤΕΤΑΡΤΗ</td>   <td>-</td> <td>07:00-23:30</td></tr>
			<tr><td>ΠΕΜΠΤΗ</td>    <td>-</td> <td>07:00-23:30</td></tr>
			<tr><td>ΠΑΡΑΣΚΕΥΗ</td> <td>-</td> <td>07:00-23:30</td></tr>
			<tr><td>ΣΑΒΒΑΤΟ</td>   <td>-</td> <td>09:00-21:30</td></tr>
			<tr><td>ΚΥΡΙΑΚΗ</td>   <td>-</td> <td>11:00-21:00</td></tr>
		</table>
	</div>

	<div class="contact-info">
		<h2>Επικοινωνία</h2>
		<p class="address"><img src="../assets/location.png" alt="">Διεύθυνση: Address, num</p>
		<p class="email"><img src="../assets/mail.png" alt="">Email: email@gym.gr</p>
		<p class="phone"><img src="../assets/phone.png" alt="">Αρ. τηλεφώνου: 2100000000</p>
	</div>
</div>
{% endblock %}
