{% extends "layout.html" %}

{% block content %}
<div class="gyms">
	<header>
		<h2>ΓΥΜΝΑΣΤΗΡΙΑ</h2>
	</header>
	<div class="wrapper">
		<div class="gym" id="gym-0">
			<div class="image">
				<img src="../photos/gym0.jpg">
			</div>
			<div class="location">
				<p>Αθήνα</p>
			</div>
		</div>
		<div class="gym" id="gym-1">
			<div class="image">
				<img src="../photos/gym1.jpg">
			</div>
			<div class="location">
				<p>Θεσσαλονίκη</p>
			</div>
		</div>
		<div class="gym" id="gym-2">
			<div class="image">
				<img src="../photos/gym2.jpg">
			</div>
			<div class="location">
				<p>Κρήτη</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
