{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/login_style.css">
<div class="login">
    <header>
        <h1>Login</h1>
    </header>

    <div class="account-type">
        <h3>Παρακαλώ επιλέξτε τύπο λογαριασμού</h3>
        <div class="account-wrapper">
            <div class="client">
                <img src="https://images.pexels.com/photos/3289711/pexels-photo-3289711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <p>Πελάτης</p>
            </div>
            <div class="personnel">
                <img src="https://images.pexels.com/photos/416754/pexels-photo-416754.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <p>Προσωπικό</p>
            </div>
            <div class="administrator">
                <img src="https://images.pexels.com/photos/9180717/pexels-photo-9180717.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                <p>Διαχειριστής</p>
            </div>
        </div>
    </div>

    <div class="credentials">
        <div class="email">
            <p>Email</p>
            <input type="email">
        </div>
        <div class="password">
            <p>Password</p>
            <input type="password">
        </div>
        <button>Login</button>
    </div>
</div>
{% endblock %}