{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/main_style.css">
<div class="main">
	{% if name %}
	<h1>Καλώς ήρθες {{ name }}</h1>
	{% endif %}
	<div class="test">
	<div class="card">
		<div class="description">
			<h2>ΕΓΚΑΤΑΣΤΑΣΕΙΣ</h2>
			<p>Ανακάλυψε τις εγκαταστάσεις των γυμναστηρίων μας.</p>
			<a href="gyms"><button>Γυμναστήρια</button></a>
		</div>

		<img src="https://images.pexels.com/photos/1954524/pexels-photo-1954524.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
			
	</div>
	
	<div class="card">
		<div class="description">
			<h2>TRAINERS</h2>
			<p>Γνώρισε τους γυμναστές μας.</p>
			<a href="personnel"><button>Προσωπικό</button></a>
		</div>
		<img src="https://images.pexels.com/photos/4662350/pexels-photo-4662350.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">

	</div>
	</div>

	<div class="gallery">
		<header>
			<h2>GALLERY</h2>
		</header>
		<div class="container">
			<div class="image" id="image0">
				<img src="https://images.pexels.com/photos/917653/pexels-photo-917653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
			</div>
			<div class="image" id="image1">
				<img src="https://images.pexels.com/photos/1144864/pexels-photo-1144864.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
			</div>
			<div class="image" id="image2">
				<img src="https://images.pexels.com/photos/1756959/pexels-photo-1756959.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
			</div>
			<div class="image" id="image3">
				<img src="https://images.pexels.com/photos/3253501/pexels-photo-3253501.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
			</div>
			<div class="image" id="image4">
				<img src="https://images.pexels.com/photos/371049/pexels-photo-371049.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
			</div>
			<div class="image" id="image5">
				<img src="https://images.pexels.com/photos/28076/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
			</div>
		</div>
	</div>
</div>
{% endblock %}
