{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/news_style.css"/>
<div class="news">
    <header>
        <h2>Τελευταία Νέα</h2>
    </header>
    <ul>
		{% for news in newslist %}
			<li>
        	    <div class="announcement">
        	        <div class="left-col">
        	            <div class="image">
        	                <img src="https://images.pexels.com/photos/1114376/pexels-photo-1114376.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        	            </div>
        	            <div class="post-date">
        	                <p>9/4/2022</p>
        	            </div>
        	        </div>
        	        <div class="news-text">
						<p>{{ news }}</p>
        	        </div>
        	    </div>
        	</li>
		{% endfor %}
    </ul>
</div>
{% endblock %}
