{% extends "layout.html" %}

{% block content %}
<link href="{{ url_for('static', filename = 'css/personnel_style.css') }}" rel="stylesheet">
<div class="personnel-list">
	{% for trainer in trainerlist %}
	<div class="personnel-card">
		<img src="{{ url_for('static', filename = 'assets/person.png') }}" alt="">
		<div class="personnel-name">
			<p>{{ trainer.name }} {{ trainer.surname }}</p>
		</div>
		<div class="personnel-description">
			<p>Προπονητής στο γυμναστήριο {{ trainer.gym.area }} {{ trainer.gym.street }}</p>
			<p>Τηλέφωνο επικοινωνίας: {{ trainer.phone }}</p>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
