{% extends "layout.html" %}

{% block content %}
<div class="personnel-list">
	<div class="personnel-card">
		<img src="../assets/person.png" alt="">
		<div class="personnel-name">
		<p>Name Surname</p>
		</div>
		<div class="personnel-description">
		<p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
		</div>
	</div>

	<div class="personnel-card">
		<img src="../assets/person.png" alt="">
		<div class="personnel-name">
		<p>Name Surname</p>
		</div>
		<div class="personnel-description">
		<p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
		</div>
	</div>

	<div class="personnel-card">
		<img src="../assets/person.png" alt="">
		<div class="personnel-name">
		<p>Name Surname</p>
		</div>
		<div class="personnel-description">
		<p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
		</div>
	</div>

	<div class="personnel-card">
		<img src="../assets/person.png" alt="">
		<div class="personnel-name">
		<p>Name Surname</p>
		</div>
		<div class="personnel-description">
		<p>Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum sint consectetur cupidatat.</p>
		</div>
	</div>
</div>
{% endblock %}
