{% extends "layout.html" %}

{% block content %}
<div class="programs">
    <header>
        <h2>Προγράμματα</h2>
    </header>
    <ul>
        <li>
            <div class="wrapper">
                <div class="image">
                    <img src="../photos/crossfit.jpg">
                </div>
                <div class="description">
                    <h3>Crossfit</h3>
                    <hr>
                    <p>Crossfit description</p>
                </div>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <div class="image">
                    <img src="../photos/yoga.jpg">
                </div>
                <div class="description">
                    <h3>Yoga</h3>
                    <hr>
                    <p>Yoga Description</p>
                </div>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <div class="image">
                    <img src="../photos/zumba.jpg">
                </div>
                <div class="description">
                    <h3>Zumba</h3>
                    <hr>
                    <p>Zumba Description</p>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
