{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/schedule_style.css">
<div class="programs">
    <header>
        <h2>Προγράμματα</h2>
    </header>
    <ul>
        <li>
            <div class="wrapper">
                <div class="image">
                    <img src="https://images.pexels.com/photos/28080/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
                <div class="description">
                    <h3>Crossfit</h3>
                    <hr>
                    <p>Crossfit description</p>
                </div>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <div class="image">
                    <img src="https://images.pexels.com/photos/3823039/pexels-photo-3823039.jpeg?auto=compress&cs=tinysrgb&w=1600">
                </div>
                <div class="description">
                    <h3>Yoga</h3>
                    <hr>
                    <p>Yoga Description</p>
                </div>
            </div>
        </li>
        <li>
            <div class="wrapper">
                <div class="image">
                    <img src="https://images.pexels.com/photos/3775566/pexels-photo-3775566.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
                <div class="description">
                    <h3>Zumba</h3>
                    <hr>
                    <p>Zumba Description</p>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
