{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/shop_style.css">
<div class="shop">
    <header>
        <h1>Αγορά Συνδρομής</h1>
    </header>
    <div class="subscriptions">
        <ul>
            <li>
                <div class="image-wrapper">
                    <img src="https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
                <div class="subscription-details">
                    <h3>Ετήσια Συνδρομή</h3>
                    <p>Αποκτήστε τώρα ετήσια συνδρομή στην προνομιακή τιμή των 150€.</p>
                    <button>Αγορά</button>
                </div>
            </li>
            <li>
                <div class="image-wrapper">
                    <img src="https://images.pexels.com/photos/1552249/pexels-photo-1552249.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
                <div class="subscription-details">
                    <h3>6μηνη Συνδρομή</h3>
                    <p>Αποκτήστε τώρα 6μηνη συνδρομή στην προνομιακή τιμή των 120€.</p>
                    <button>Αγορά</button>
                </div>
            </li>
            <li>
                <div class="image-wrapper">
                    <img src="https://images.pexels.com/photos/136404/pexels-photo-136404.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
                <div class="subscription-details">
                    <h3>3μηνη Συνδρομή</h3>
                    <p>Αποκτήστε τώρα 3μηνη συνδρομή στην προνομιακή τιμή των 100€.</p>
                    <button>Αγορά</button>
                </div>
            </li>
            <li>
                <div class="image-wrapper">
                    <img src="https://images.pexels.com/photos/28080/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
                <div class="subscription-details">
                    <h3>Μηνιαία Συνδρομή</h3>
                    <p>Αποκτήστε τώρα μηνιαία συνδρομή στην προνομιακή τιμή των 40€.</p>
                    <button>Αγορά</button>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}