{% extends "layout.html" %}

{% block content %}
<link rel="stylesheet" href="../static/css/shop_style.css">
<div class="subscriptions">
    <header>
        <h1>Συνδρομές</h1>
    </header>
    <div class="subscriptions">
        <ul>
			{% for subscription in subscription_list %}
            <li>
                <div class="image-wrapper">
                    <img src="https://images.pexels.com/photos/414029/pexels-photo-414029.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
                <div class="subscription-details">
					<h3>{{ subscription.duration }}μηνιαία Συνδρομή ({{ subscription.cost }}€)</h3>
					<p>Ημερομηνία αγοράς: {{ purchase_date.strftime("%D")}}</p>
					<p>Διάρκεια: {{ time_left }}</p>
                </div>
            </li>
			{% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
