body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	color:white;
	background-color: #282828;
}

nav {
	position: sticky;
	overflow: hidden;
	background-color: black;
	margin: 0;
	top: 0;
	height: 100%;
}

nav img {
	width: 32px;
	height: auto;

}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;

}

nav ul li {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	list-style: none;
	color: white;
	width: 100%;
	text-align: center;
	transition: background-color 0.1s;
}

nav ul li a{
	text-decoration: none;
	color: white;
}

nav ul li:nth-child(n+2):nth-child(-n+9):hover {
	background-color: red;
}

nav button {
	border-style: none;
	background-color: black;
}

/* Main */
.main {
    margin: 40px;
}

/* Header */
.main header {
    color: white;
    font-size: 40px;
}

/* Announcements */
.main .announcement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    background-color:gray;
}

.announcement .post-date {
    text-align: center;
    font-size: 20px;
}

.main ul {
    list-style: none;
}

.main ul li {
    margin-bottom: 40px;
}

/* Images */
.main img {
    width: 300px;
    height: 300px;
}

/*News-text*/
.news-text p {
    color: white;
    font-size: 30px;
}

/* Post-date */
.post-date {
    color: white;
}

/* Footer */

footer {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
}

footer li {
	list-style: none;
}
footer ul {
	display: flex;
	flex-direction: column;
}

footer input {
	border-style: none;
	height: 2em;
	width: 15em;
	margin-right: 5em;
}