.description .image-wrapper img {
    width: 200px;
    height: auto;
    display: block;
}

.description {
    display: flex;
    flex-flow: row;
    justify-content: left;
}

.image-wrapper {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1;
}

input.title, div.article-info, div.subscription-info {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 2;
}
input.title {
    width: 730px;
	margin: 1em;
    background-color: gray;
    color: white;
}

textarea.article-info, textarea.subscription-info {
    height: 146px;
    width: 730px;
	margin: 1em;
    background-color: gray;
    color: white;
}
