body {
	margin-top: 70px;
	font-family: "Open Sans", sans-serif;
	color:white;
	background-color: #282828;
}


.flex-wrapper {
	display: flex;
	min-height: 90vh;
	flex-direction: column;
	justify-content: flex-start;
}

.footer {
	margin-top: auto;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.flashes {
	background-color: red;
	margin-left: 10em;
	margin-right: 10em;
	list-style-type: none;
	text-align: center;
	animation: 1s ease-out 0s 1 slideInFromLeft;
