body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
	color:white;
	background-color: #282828;
}

nav {
	position: sticky;
	overflow: hidden;
	background-color: black;
	margin: 0;
	top: 0;
	height: 100%;
}

nav img {
	width: 32px;
	height: auto;

}

nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: stretch;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;

}

nav ul li {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	list-style: none;
	color: white;
	width: 100%;
	text-align: center;
	transition: background-color 0.1s;
}

nav ul li  a{
	text-decoration: none;
	color: white;
}

nav ul li:nth-child(n+2):nth-child(-n+8):hover {
	background-color: red;
}

nav button {
	border-style: none;
	background-color: black;
}

/* Header */
.gyms header h2 {
	color: white;
	text-align: center;
}

.map header h2 {
	color: white;
	text-align: center;
}

/* Wrapper */
.wrapper {
	display: flex;
	flex-direction: row;
	column-gap: 30px;
	align-items: center;
	justify-content: center;
}

/* Images */
.gym .image img {
	height: 300px;
	width: 300px;
}

/* Location */
.location p {
	font-size: 20px;
	text-align: center;
}

/* Footer */
footer {
	background-color: black;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
}

footer li {
	list-style: none;
}
footer ul {
	display: flex;
	flex-direction: column;
}

footer input {
	border-style: none;
	height: 2em;
	width: 15em;
	margin-right: 5em;
}